body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    background-color: #333333;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
}

header .small-image {
    float: left;
    margin-right: 10px; /* Adjust the margin as needed */
    width: 110px; /* Adjust width to make the image smaller */
    height: auto; /* Maintain aspect ratio */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #333333;
    color: white;
    text-align: center;
}

/* New CSS for resizing the image */
.small-image {
    width: 1000px;   /* Adjust width as needed */
    height: auto;   /* Maintain aspect ratio */
}